<%- include('partials/header.ejs') -%>

    <body>
        <%- include('partials/navbar.ejs') -%>

            <div class="container">
                <% if(!allComments ){%>
                    <div class="spinner-border text-primary " role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                    <% }%>

                        <div class="row">
                            <% allComments.forEach(comment=>{%>

                                <% const date=new Date(comment.createdAt) %>
                                    <div class="col-auto p-0 m-3">
                                        <div class=" card bg-secondary-subtle text-bg-success" style="width: 18rem;">

                                            <div class="card-body">
                                                <h5 class="card-title">
                                                    <%=comment.title %>
                                                </h5>
                                                <strong class="card-text text" id="commentBody">
                                                    <%= comment.comment %>
                                                </strong>
                                                <div class="card-footer fs-6 text-info mb-2 bg-dark bg-opacity-50">
                                                    Written by <strong class="text-capitalize">
                                                        <%= comment.userId.firstName%>
                                                            <%=comment.userId.lastName %>

                                                    </strong>


                                                </div>
                                                <figure class="text-end bg-dark">

                                                    <figcaption class="blockquote-footer text-white">
                                                        Posted: <cite title="Source Title">
                                                            <%= date.toDateString() %>
                                                        </cite>
                                                    </figcaption>
                                                </figure>
                                                <form action="/comment/<%=comment._id%>" method="get">
                                                    <button type="submit" class="btn btn-primary position-relative">
                                                                <strong>Read...</strong>
                                                        <span
                                                            class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                                            <%= comment.usercomment.length %>
                                                                <span class="visually-hidden">unread messages</span>
                                                        </span>
                                                    </button>
                                                </form>



                                            </div>
                                        </div>
                                    </div>


                                    <%})%>
                        </div>
            </div>
    </body>

    </html>