<%- include('partials/header.ejs') -%>

<body>
    <%- include('partials/navbar.ejs') -%>
        <div class="container">
            <form method="post" action="/comment/<%=comment._id %>">
                <div class="mb-3">
                    <label class="form-label">Title</label>
                    <input type="text" class="form-control" placeholder="Write a Title" name="title" value="<%= comment.title %>">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Write your comments</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="comment"><%=comment.comment%> </textarea>
                </div>
    
                <button type="submit" class="btn btn-primary">Submit</button>
                
                <a href="/comment/<%=comment._id %>" class="btn btn-danger"> Go back</a>
            </form>
        </div>
        
</body>
 
</html>